!URXVT
URxvt.termName:    rxvt-256color
URxvt*scrollBar:   false
URxvt*urlLauncher: google-chrome
URxvt*buffered: true
!URxvt*font: xft:monospace:size=11:antialias=true:xft:wqy-zenhei:pixsize=24:antialias=true
!URxvt*font: xft:Bitstream Vera Sans Mono:size=11:antialias=true
!URxvt*font: xft:Bitstream Vera Sans Mono:size=12:antialias=true,xft:WenQuanYi Zen Hei:size=14:antialias=true
URxvt*font: xft:Bitstream Vera Sans Mono:size=12:antialias=true,xft:wqy-zenhei:size=12:antialias=true
!URxvt*font: xft:inconsolata:pixelsize=12
!URxvt*font:           -*-monospace-*-*-*-12-*-*-*-*-*-*-*
!URxvt*boldFont:       -*-monospace-*-*-*-12-*-*-*-*-*-*-*
!URxvt*italicFont:     -*-monospace-*-*-12-*-*-*-*-*-*-*
!URxvt*boldItalicFont: -*-monospace-*-*-12-*-*-*-*-*-*-*
URxvt*transparent:false 
URxvt*shading: 100
URxvt*letterSpace: -1
URxvt*cursorBlink: False
URxvt*savelines:1000000
URxvt*depth:32
URxvt*preeditType: OffTheSpot
URxvt*perl-ext-common: default,clipboard
URxvt*urgentOnBell: true
URxvt*inputMethod: fcitx
URxvt*preeditType: OnTheSpot,None
Xcursor*theme: xcursor-human
Xcursor*size: 22

#include "/home/dongkc/.config/Xcolours/solarized"
