Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!Xft.embolden: true

!URXVT
URxvt.termName:    rxvt-256color
URxvt*scrollBar:   false
URxvt*urlLauncher: luakit
URxvt*buffered: true
!URxvt*font: xft:DejaVu Sans Mono for Powerline:style=Bold:size=11:antialias=true,xft:wqy-zenhei:size=12:antialias=true
!URxvt*font: xft:Source Code Pro:style=Bold:size=11:antialias=true,xft:wqy-zenhei:size=10:antialias=true
URxvt*font: xft:Source Code Pro:style=Bold:size=11:antialias=true,xft:Source Han Sans CN:size=11:antialias=true
!URxvt*font: xft:siji:size=11:antialias=true,xft:Source Han Sans CN:size=11:antialias=true
URxvt*transparent:false
URxvt*shading: 100
URxvt*letterSpace: -1
URxvt*cursorBlink: False
URxvt*savelines:1000000
URxvt*depth:32
URxvt*preeditType: OffTheSpot
URxvt*perl-ext-common: default,clipboard
URxvt*urgentOnBell: true
URxvt*inputMethod: fcitx
URxvt*preeditType: OnTheSpot,None
URxvt.perl-ext-common: clipboard
Xcursor*theme: xcursor-human
Xcursor*size: 22

#include "/home/dongkc/.config/Xcolours/solarized"
